@import './base/reset';
@import '../icons/style.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/**************************************************
index
**************************************************/

body {
    font-family: 'Montserrat', sans-serif;
    header {
        position: fixed;
        width: 100%;
        z-index: 2;
        nav {
            height: 7.5rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #2C2C2C;
            color: #F8F9FA;
            &>a {
                position: absolute;
                left: 0;
                img {
                    height: 7.5rem;
                    z-index: 1;
                }
            }
            h1 {
                display: inline-block;
                text-align: center;
                font-size: 2.4rem;
            }
            ul {
                position: absolute;
                right: 0;
                display: flex;
                gap: 1rem;
                margin-right: 1rem;
                li {
                    button {
                        display: block;
                        padding: 1rem;
                        font-size: 1rem;
                        transition: 300ms;
                        &:hover {
                            color: #e2c521;
                        }
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    main, section {
        position: relative;
        min-height: 100vh;
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
}

/**************************************************
assignments and challenges
**************************************************/

section {
    scroll-margin-top: 7.5rem;
    &.assignments, &.challenges {
        background-image: url("../images/background_assignments.jpg");
        h1 {
            position: sticky;
            top: 7.5rem;
            padding: 1rem 0;
            font-size: 3rem;
            background-color: #2C2C2C;
            color: #F8F9FA;
            text-align: center;
            z-index: 1;
        }
        .content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 2rem;
            padding: 5%;
            .card {
                border-radius: 10px;
                background-color: #2C2C2C;
                color: #F8F9FA;
                box-shadow: 2px 2px 2px 0px black;
                transition: all 300ms;
                img {
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                h3 {
                    white-space: nowrap;
                    text-align: center;
                    padding: 2rem;
                    font-size: 2rem;
                }
                p {
                    font-size: 1.4rem;
                    opacity: 0.6;
                    text-align: center;
                    padding-bottom: 2rem;
                }
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 5px 5px 5px 0px black;
                }
            }
        }
    }
}


/**************************************************
assignments
**************************************************/

section.assignments {
    background-position: bottom center;
}

/**************************************************
challenges
**************************************************/

section.challenges {
    background-image: url("../images/background_challenges.jpg");
}

/**************************************************
mobile
**************************************************/

@media screen and (max-width: 600px) {
    body {
        header nav {
            height: 5rem;
            flex-direction: column;
            &>a img {
                height: 5rem;
            }
            h1 {
                width: 100%;
                height: 2rem;
                font-size: 1.8rem;
                overflow: hidden;
                transform: translateY(0);
                transition: transform 500ms;
            }
            ul {
                position: static;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 0;
                margin: 0;
                overflow: hidden;
                transition: height 250ms;
                li {
                    transition: transform 500ms;
                    button{
                        text-align: center;
                    }
                    // &:first-child {
                    //     margin-left: 20%;
                    // }
                    &:last-child {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: calc(50% - 1.5rem);
                        button {
                            display: flex;
                            align-items: center;
                            height: 3rem;
                            font-size: 1.4rem;
                        }
                    }
                    &:not(:last-child) {
                        transform: translateY(5rem);
                    }
                }
            }
            &.open {
                h1 {
                    height: 0;
                    transform: translateY(-1rem);
                    transition: height 500ms;
                }
                ul {
                    height: 100%;
                    li {
                        display: block;
                        &:last-child {
                            transform: rotate(180deg);
                        }
                        &:not(:last-child) {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
        section {
            scroll-margin-top: 5rem;
            &.assignments, &.challenges {
                h1 {
                    top: 5rem;
                }
            }
        }
    }
}